@import url(variable.css);


body{
    background-color: var(--color-3);
}

*{
    padding: 0;
    margin: 0;
}

.header {


}

.div__image {
    width: 100%;
    position: absolute;
    #negro{
        left: 0.3vw;
        top: 0.6vw;
        width: 3vw;
        height: 3vw;
    }
    #mensaje{
        position: absolute;
        left: 93vw;
        top: 1vw;
        width: 1.8vw;
        height: auto;

    }
    #personita{
        position: absolute;
        left: 96vw;
        top: 1vw;
        width: 1.5vw;
        height: auto;
    }
}

.section__header-txt{
    position: absolute;
    top: 1.5vw;
    font-family: "Montserrat-SemiBold";
    font-size: 1.2vw;
    list-style: none;
    left: 64vw;
    #B{
        position: absolute;
        color: var(--color-1);
        text-decoration: none;
        padding-left: 2vw;
    }
    #A{
        position: absolute;
        color: var(--color-1);
        text-decoration: none;
        padding-left: 9vw;
    }
    #C{
        position: absolute;
        color: var(--color-1);
        text-decoration: none;
        padding-left: 16vw;
    }
}
.section__white-line{
    position: absolute;
    left: 4vw;
    width: 92vw;
    top: 7vw;
    height: 2px;
    background-color: var(--color-1);
}

.section__menu{
    button{
        position: absolute;
        left: 6.5vw;
        top: 7.8vw;
        width: 7.9vw ;
        height: 2vw;
        background-color: var(--color-4);
        border-radius: 0.4vw;
        border: none;
        color: var(--color-1);
        font-size: 1.1vw;
        font-family: "Montserrat-Medium";
        cursor: pointer;
    }
    div{
        position: absolute;
        left: 23.8vw;
        top: 8.1vw ;
        width: 51.5vw;
        height:auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 1.1vw ;
        font-family: "Montserrat-Light";
        color:var(--color-1);
        }
}
.section__img{

}
.section__txt{

}
.section__txt{

}
.section__posts{

}
