@import url(variable.css);

body{
    background-color: var(--color-3);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background: transparent;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;
    background-color: transparent;

}

.ul__menu {
    display: flex;
    gap: 66px;
    padding-right: 159px;
    font-family: "Montserrat-SemiBold";
    color: var(--color-1);
    li{
        list-style: none;
    }
    a{
        color: var(--color-1);
        text-decoration: none;
    }
}

.section__home {
    background-image: linear-gradient(var(--color-2), var(--color-3)100%), var(--banner-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;
}

.article__home {
    width: 626px;
    height: 360px;
    position: relative;
    left: 22svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-1);

    span {
        font-size: 28px;
        font-family: "Montserrat-Medium";
    }
    h1{
        font-size: 75px;
        font-family: "Montserrat-Medium";
    }
    p {
        width: 340px;
        font-family: "Montserrat-SemiBold";
    }
}


.section__icon{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--color-3);
    
}


.section__img1{
    position: absolute;
    top: 73vw;
    left: 1.5vw;
    img{
        width: 96vw;
        height: auto;
    }
}
.section__img2{
    position: absolute;
    top: 133vw;
    left: 1.5vw;
    img{
        width: 96vw;
        height: auto;
    }
}
.section__img3{
    position: absolute;
    top: 193vw;
    left: 1.5vw;
    img{
        width: 96vw;
        height: auto;
    }
}

.text__1{
    position: absolute;
    top: 123vw;
    left: 6.8vw;
    font-size: 3.8vw;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}

.text__2{
    position: absolute;
    top: 179vw;
    left: 6.8vw;
    font-size: 3.8vw;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}

.text__3{
    position: absolute;
    top: 238vw;
    left: 6.8vw;
    font-size: 3.8vw;
    color: var(--color-1);
    font-family: "Montserrat-SemiBold";
}

.blog__text{
    position: absolute;
    top: 253vw;
    left: 3vw;
    font-size: 3.8vw;
    color: var(--color-1);
    font-family: "Montserrat-Medium";
}

.carousel{
    position: absolute;
    top: 260vw;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    gap: 2vw;    
    box-sizing: content-box;
    width: 1440px;

    div{
        height: 627px;
        width: 385px;
        background-color: var(--color-4);
        border-radius: 35px;
        display: flex;
        flex-direction: column;
        color: var(--color-1);
        flex-shrink: 0;
    }
    img{
        display: flex;
        align-self: center;
        width: 342px;
        height: 232px;
        position: absolute;
        top: 26px;
    }
    h1{
        position: absolute;
        top: 282px;
        width: 330px;
        font-family: "Montserrat-SemiBold";
        display: flex;
        align-self: center;
        font-size: 28px;
    }
    p{
        position: absolute;
        font-family: "Montserrat-Regular";
        top: 368px;
        width: 342px;
        height: 96px;
        display: flex;
        align-self: center;
    }
    button{
        font-family: "Montserrat-Regular";
        font-size: 20px;
        border-color: transparent;
        width: 145px;
        height: 44px;
        border-radius: 24px;
        background-color: var(--color-1);
        position: absolute;
        top: 500px;
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

@media (max-width: 960px) {
    .header{
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
        h1{
            font-size: 70px;
        }
    }

    .section__icon {
        justify-content: space-around;
    
    img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
    }

}

@media (max-width: 576px) {
    .header{
        justify-content: normal;
    }
    .div__logo{
        flex: 1;
    }
    .div__menu{
        width: 100%;
    }
    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article__home {
        top: 25svh;
        h1{
            font-size: 60px;
        }
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
}
