<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/StyleBlog.css">
    <title>Blog</title>
</head>
<body>
    <header class="header">
        <div class="div__image">
            <img src="../storage/img/Ellipse 1.png">
            <img src="../storage/img/Vector.png">
            <img src="../storage/img/Vector (1).png">
        </div>
        <section class="section__white-line">
            <div class="div__line"></div>
        </section>
        <section class="section__menu">
            <button>Latest Blog</button>
            <div>
                <p>Urban Planning</p>
                <p>Graphics Design</p>
                <p>Web Design</p>
                <p>UX/UI Design</p>
                <p>Technology</p>
            </div>
        </section>
        <section class="section__img">
            <img src="../storage/img/Rectangle 13(blog).png">
        </section>
        
    </header>
</body>
</html>

