<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/StyleBlog.css">
    <title>Blog</title>
</head>
<body>
    <header class="header">
        <div class="div__image">
            <img src="../storage/img/Ellipse 1.png">
            <img src="../storage/img/Vector.png">
            <img src="../storage/img/Vector (1).png">
        </div>
        <section class="section__white-line">
            <div class="div__line"></div>
        </section>
        <section class="section__menu">
            <button>Latest Blog</button>
            <div>
                <p>Urban Planning</p>
                <p>Graphics Design</p>
                <p>Web Design</p>
                <p>UX/UI Design</p>
                <p>Technology</p>
            </div>
        </section>
        <section class="section__img">
            <img src="../storage/img/Rectangle 13(blog).png">
        </section>
        <section class="section__txt">
            <h1>Urban Planning</h1>
            <h1>Lörem ipsum europlande krohiskap panstik, förväntis.</h1>
            <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. </p>
            <button>Read More</button>
        </section>
        <section class="section__posts">
            <h1>Recent Posts</h1>
        </section>
        <section class="">
            <h2>Lörem ipsum patt karirenyst</h2>
            <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
            <button>Read More</button>
        </section>
        <section>
            <img src="/storage/img/CAR.png">
        </section>
    </header>
</body>
</html>

