<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/StyleBlog.css">
    <title>Blog</title>
</head>
<body>
    <header class="header">
        <div class="div__image">
            <a href="https://forbescentroamerica.com/_next/image?url=https%3A%2F%2Fcdn.forbescentroamerica.com%2F2019%2F12%2Fgroup-photo-of-a-children-2883380.jpg%3Fv%3D1280720&w=1200&q=75" target="_blank"><img id="negro" src="../storage/img/Ellipse 1.png"></a>
            <img id="mensaje" src="../storage/img/Vector (1).png">
            <img id="personita" src="../storage/img/Vector.png">
        </div>
        <section class="section__header-txt">
            <li><a id="B" href="">Blog</a></li>
            <li><a id="A" href="../index.html">About</a></li>
            <li><a id="C" href="">Contact</a></li>
        </section>
        <section class="section__white-line">
        </section>
        <section class="section__menu">
            <button>Latest Blog</button>
            <div>
                <p>Urban Planning</p>
                <p>Graphics Design</p>
                <p>Web Design</p>
                <p>UX/UI Design</p>
                <p>Technology</p>
            </div>
        </section>
        <section class="section__img">
            <img src="../storage/img/Rectangle 13(blog).png">
        </section>
        <section class="section__txt">
            <h1>Urban Planning</h1>
            <h2>Lörem ipsum europlande krohiskap panstik, förväntis.</h2>
            <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt. </p>
            <button>Read More</button>
        </section>
        <section class="section__posts">
            <h1>Recent Posts</h1>
        </section>
        <section class="section__first-row">
            <div>
                <img src="../storage/img/CAR.png">
                <h1>Lörem ipsum patt karirenyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </div>
            <div>
                <img src="../storage/img/blacklady.png">
                <h1>Lörem ipsum patt karirenyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </div>
            <div>
                <img src="../storage/img/marry.png">
                <h1>Lörem ipsum patt karirenyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </div>
        </section>
        <section class="section__second-row">
            <div>
                <img src="../storage/img/blueglass.png">
                <h1>Lörem ipsum patt karirenyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </div>
            <div>
                <img src="../storage/img/bird.png">
                <h1>Lörem ipsum patt karirenyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </div>
            <div>
                <img src="../storage/img/room.png">
                <h1>Lörem ipsum patt karirenyst</h1>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen</p>
                <button>Read More</button>
            </div>
        </section>
        <footer>
            <section class="section__footer">
                <h2>daily blog</h2>
                <p>Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. Arat lagen.Lörem ipsum patt kar i renyst robotfälla. Tregyktig  sana, nuktigt i mandatpingis tes. Analigt anede. </p>
                <div>
                    <a href="https://www.instagram.com/" target="_blank"><img src="../storage/img/instagram.png"></a>
                    <img src="../storage/img/be.png">
                    <a href="https://www.linkedin.com/" target="_blank"><img src="../storage/img/linkedin.png"></a>
                    <a href="https://www.facebook.com/" target="_blank"><img src="../storage/img/facebook.png"></a>
                    <a href="https://www.pinterest.com" target="_blank"><img src="../storage/img/pinterest.png"></a>
                </div>
            </section>
            <section class="section__rights">
                <p>© 2023 dailyblog. All rights reserved.</p>
            </section>
        </footer>
    </header>
</body>
</html>

